span.emphasizedTextInTitle {
	font-weight: bolder;
	background-color: silver;
}

div.highlightedRow {
    background-color: yellow;
}

div.highlightedRow2 {
    background-color: #ADFF2F;
}

div.taskHighlighter-on {
	position: absolute;
	font-family: Arial Black;
	color: yellow;
	left: 8px;
	top: 0px;
}

div.taskHighlighter {
    position: absolute;
    font-family: Arial Black;
    color: white;
    left: 8px;
    top: 0px;
}

div.dayInfoElem {
    position: absolute;
    font-family: Arial Black;
    color: silver;
    left: 16px;
    bottom: 0px;
}

div.taskChevron {
	position: absolute;
	left: 4px;
	width: 2px;
	height: 100%;
	background-color: #eee;
}
