/**********************/
/* override core styles */
span.emphasizedTextInTitle {
	/* override here */
	
}

div.highlightedRow {
	/* override here */
	
}

div.highlightedRow2 {
	/* override here */
	
}

div.taskHighlighter-on {
	/* override here */
	
}

div.taskHighlighter {
	/* override here */
	
}

div.dayInfoElem-on {
	/* override here */
	
}

div.dayInfoElem {
	/* override here */
	
}

div.taskChevron {
	/* override here */
	width: 4px;
}

/**********************/
/* category !РЕЖИМ */
div.taskBlock--РЕЖИМ div.project-label {
	color: black !important;
	font-weight: bold;
}

div.taskBlock--РЕЖИМ div.taskChevron {
	background-color: black;
}

div.taskBlock--РЕЖИМ div.taskTitle {
	background-color: #F8F8FF;
}

div.taskBlock--РЕЖИМ.highlightedRow div.taskTitle {
	background-color: yellow;
}

/**********************/
/* category EDU: misc */
div.taskBlock-EDU--misc div.project-label {
	color: rgb(238, 120, 230) !important;
	font-weight: bold;
}

div.taskBlock-EDU--misc div.taskChevron {
	background-color: rgb(238, 120, 230); /* rgb(180, 53, 18); */
}
/**********************/
/* category HOME: misc */
div.taskBlock-HOME--misc div.taskChevron {
	background-color: rgb(255, 192, 0);
}

div.taskBlock-HOME--misc div.project-label {
	color: rgb(255, 192, 0) !important;
	font-weight: bold;
}

/**********************/
/* category SOCIO: misc */
div.taskBlock-SOCIO--misc div.project-label {
	color: rgb(22, 167, 101) !important;
	font-weight: bold;
}

div.taskBlock-SOCIO--misc div.taskChevron {
	background-color: rgb(22, 167, 101); /* rgb(237, 125, 49); */
}

/**********************/
/* category WORK */
div.taskBlock-WORK1--strategic div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK1--strategic div.taskChevron {
	background-color: rgb(46, 117, 181);
}

div.taskBlock-WORK2--planning div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK2--planning div.taskChevron {
	background-color: rgb(46, 117, 181);
}

div.taskBlock-WORK3--meta-process div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK3--meta-process div.taskChevron {
	background-color: rgb(46, 117, 181);
}

div.taskBlock-WORK4--architecture div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK4--architecture div.taskChevron {
	background-color: rgb(46, 117, 181);
}

div.taskBlock-WORK5--engineering div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK5--engineering div.taskChevron {
	background-color: rgb(46, 117, 181);
}

div.taskBlock-WORK6--business div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK6--business div.taskChevron {
	background-color: rgb(46, 117, 181);
}

div.taskBlock-WORK7--misc div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-WORK7--misc div.taskChevron {
	background-color: rgb(46, 117, 181);
}

/**********************/
/* category ..#{Тест, тест, тест}#.. */
div.taskBlock-----Тест--тест--тест---- div.project-label {
	color: red !important;
	font-weight: bold;
}

div.taskBlock-----Тест--тест--тест---- div.taskChevron {
	background-color: red;
}