/**********************/
/* override core styles */
span.emphasizedTextInTitle {
	/* override here */
	
}

div.highlightedRow {
	/* override here */
	
}

div.highlightedRow2 {
	/* override here */
	
}

div.taskHighlighter-on {
	/* override here */
	
}

div.taskHighlighter {
	/* override here */
	
}

div.dayInfoElem-on {
	/* override here */
	
}

div.dayInfoElem {
	/* override here */
	
}

div.taskChevron {
	/* override here */
	width: 4px;
}

/**********************/
/* category ОБЩЕТВОР */
div.taskBlock-ОБЩЕТВОР div.project-label {
	color: rgb(22, 167, 101) !important;
	font-weight: bold;
}

div.taskBlock-ОБЩЕТВОР div.taskChevron {
	background-color: rgb(22, 167, 101); /* rgb(237, 125, 49); */
}

/**********************/
/* category РАБОТА */
div.taskBlock-РАБОТА div.project-label {
	color: rgb(46, 117, 181) !important;
	font-weight: bold;
}

div.taskBlock-РАБОТА div.taskChevron {
	background-color: rgb(46, 117, 181);
}

/**********************/
/* category РЕЖИМ */
div.taskBlock-РЕЖИМ div.project-label {
	color: black !important;
	font-weight: bold;
}

div.taskBlock-РЕЖИМ div.taskChevron {
	background-color: black;
}

div.taskBlock-РЕЖИМ div.taskTitle {
	background-color: #F8F8FF;
}

div.taskBlock-РЕЖИМ.highlightedRow div.taskTitle {
	background-color: yellow;
}

/**********************/
/* category САМООБРАЗВИТ */
div.taskBlock-САМООБРАЗВИТ div.project-label {
	color: rgb(238, 120, 230) !important;
	font-weight: bold;
}

div.taskBlock-САМООБРАЗВИТ div.taskChevron {
	background-color: rgb(238, 120, 230); /* rgb(180, 53, 18); */
}

/**********************/
/* category СЕМЬЯ-и-БЫТ */
div.taskBlock-СЕМЬЯ-и-БЫТ div.taskChevron {
	background-color: rgb(255, 192, 0);
}

div.taskBlock-СЕМЬЯ-и-БЫТ div.project-label {
	color: rgb(255, 192, 0) !important;
	font-weight: bold;
}

/**********************/
/* category ..#{Тест, тест, тест}#.. */
div.taskBlock-----Тест--тест--тест---- div.project-label {
	color: red !important;
	font-weight: bold;
}

div.taskBlock-----Тест--тест--тест---- div.taskChevron {
	background-color: red;
}